<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datepicker for Bootstrap</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link id="bs-css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link id="bsdp-css" href="bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">
    <script>
      var page = {bootstrap:3};
      function swap_bs(){
        var bscss = $('#bs-css'),
            bsdpcss = $('#bsdp-css');
        if (page.bootstrap == 3){
          bscss.prop('href', 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
          bsdpcss.prop('href', 'bootstrap-datepicker/css/datepicker.css');
          page.bootstrap = 2;
          $(page).trigger('change:bootstrap', 2)
        }
        else{
          bscss.prop('href', 'http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css');
          bsdpcss.prop('href', 'bootstrap-datepicker/css/datepicker3.css');
          page.bootstrap = 3;
          $(page).trigger('change:bootstrap', 3)
        }
      }
    </script>
    <style>
      body {
        padding-top: 50px;
      }
      .splash {
	height: 35em;
	padding-top: 9em;
	margin-bottom: 2em;
	background-image: url("http://worksafe-hira.com/Images/login/background.jpg");
	/*http://worksafe-hira.com/Images/login/background.jpg  http://i.imgur.com/Sbh58eU.jpg */
	background-size: cover;
	color: #000;
	text-align: center;
	}
    </style>
    <link href="google-code-prettify/prettify.css" rel="stylesheet">
    <link href="docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="google-code-prettify/prettify.min.js"></script>

    <script src="bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ar.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.az.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.bg.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ca.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.cs.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.cy.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.da.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.el.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.et.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.fa.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.fi.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.gl.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.he.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.hr.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.hu.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.id.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.is.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.it.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ja.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ka.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.kk.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.lt.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.lv.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.mk.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ms.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.nb.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.nl.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.nl-BE.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.no.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.pl.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.pt.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ro.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.rs.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.rs-latin.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.sk.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.sl.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.sq.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.sv.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.sw.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.th.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.tr.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.ua.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.vi.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-TW.js" charset="UTF-8"></script>

  </head>

  <body>

    <div class="splash">
    <div class="container">
      <h2 color="black">pick a date</h2>
      <style>
        .sandbox-form label, .sandbox-form span {
          display: inline-block;
          margin: .5em .5em;
          vertical-align: middle;
        }
        .sandbox-form span label {
          vertical-align: baseline !important;
        }
      </style>
      <form class="form-inline sandbox-form" id="sandbox" action="/" method="post">
	<table align="center">
	<tr>
	<td>
    	<input type="text" type="text" class="form-control" name="input"></td>
	<td>
        <input type="submit" class="btn btn-primary" value="go" name="submit" id="submit-button"></td>
	</tr>
	</table>
      </form>
      <style>
        .datepicker .green {color: #0F0;}
      </style>
      <script>
    $('#sandbox input').datepicker({
    endDate: "tomorrow",
    autoclose: true,
    todayHighlight: true
    });


      </script>

    </div></div>
  </body>
</html>
